<?xml version="1.0"?>
<launch>

    <arg name="robotID" default="robot0"/>
    <arg name="camera" default ="camera0"/>
    <arg name="tagsize" default="0.17"/>
    
    <arg name="measurement"/>
    <arg name="images"/>
    <arg name="config"/>
    
    <node pkg="relative_meas_gen" type="ApriltagMeasurer" name="apriltag_node" output="screen">
        <param name="image_topic" value="$(arg images)"/>
        <param name="host_robot" value="$(arg robotID)"/>
        <param name="config_file" value="$(arg config)"/>
        <param name="camera_ID" value="$(arg camera)"/>
        <param name="tagsize" value="$(arg tagsize)"/>
        
        <param name="relative_meas" value="$(arg measurement)"/>
    </node>

</launch>