<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam file="$(find sloam)/params/sloam.yaml" command="load" />
    <rosparam file="$(find sloam)/params/ouster.yaml" command="load" />
    <!-- This node uses the Ouster IMU to undistort the point cloud (optional) -->
    <group if="$(arg undistort)">
        <include file="$(find cloud_undistort)/launch/cloud_undistort.launch"></include>
    </group>

    <include file="$(find sloam)/launch/sloam.launch"></include>
</launch>