<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="enable_rviz" default="true" />
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/decentralized_sloam.rviz" />
    </group>

    <rosparam file="$(find sloam)/params/sloam.yaml" command="load" />
    <arg name="hostRobot_ID" value="0" />

    <node pkg="sloam" type="sloam_node" name="sloam$(arg hostRobot_ID)" output="screen">
            <param name="hostRobotID" value="$(arg hostRobot_ID)" />
            <param name="turn_off_intra_loop_closure" value="true"/>
            <!-- the TF here is from robot to world -->
            <param name="priorTFKnown" value="false"/>
            <param name="priorTF_x" value="0"/>
            <param name="priorTF_y" value="0"/>
            <param name="priorTF_z" value="0"/>
            <!-- for publish -->
             <remap from="/sloam/cubes_map"                  to="robot_$(arg hostRobot_ID)/sloam/cubes_map"/>
            <remap from="/sloam/cubes_submap"                to="robot_$(arg hostRobot_ID)/sloam/cubes_submap"/>
            <remap from="/sloam/debug/robot0/trajectory"     to="robot_$(arg hostRobot_ID)/sloam/debug/robot0/trajectory"/>
            <remap from="/sloam/debug/robot1/trajectory"     to="robot_$(arg hostRobot_ID)/sloam/debug/robot1/trajectory"/>
            <remap from="/sloam/cylinders_map"                         to="robot_$(arg hostRobot_ID)/sloam/cylinders_map"/>
            <remap from="/sloam/submap_cylinder_models"         to="robot_$(arg hostRobot_ID)/sloam/submap_cylinder_models"/>
            <remap from="/sloam/map_pose"                    to="robot_$(arg hostRobot_ID)/sloam/map_pose"/>
            <remap from="/sloam/observation"                 to="robot_$(arg hostRobot_ID)/sloam/observation"/>
            <remap from="/sloam/optimized_point_landmarks"         to="robot_$(arg hostRobot_ID)/sloam/optimized_point_landmarks"/>
            <!-- from desired to actual (original) topic -->
            <!-- <remap from="/quadrotor0/semantic_meas_sync_odom"     to="/robot0/semantic_meas_sync_odom"/> -->
            <remap from="/robot$(arg hostRobot_ID)/semantic_meas_sync_odom"     to="/robot0/semantic_meas_sync_odom"/>
            <!-- <remap from="/sloam/odom"         to="/quadrotor/lidar_odom"/> -->
            <!-- <remap from="/sloam/odom"         to="/robot_0/vio_odom"/> -->
            <remap from="/sloam/odom"         to="/dragonfly67/quadrotor_ukf/control_odom"/>
            <!-- <remap from="/sloam/odom"         to="/scarab41/odom_laser"/> -->
            <!-- <remap from="/sloam/odom"         to="/scarab45/odom_laser"/> -->
    </node>

</launch>
