<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Arguments -->
    <arg name="odom_topic" default="/odom"/>
    <arg name="robot_name" default="robot0"/>
    <arg name="hostRobot_ID" default="0"/>
    <arg name="turn_off_intra_loop_closure" default="false"/>
    <arg name="turn_off_inter_loop_closure" default="false"/>
    <arg name="save_results_dir" default="/home/robot/sloam_results"/>

    <arg name="map_frame_id" default="world"/>
    <arg name="odom_frame_id" default="$(arg robot_name)/odom"/>
    <arg name="robot_frame_id" default="$(arg robot_name)/base_link"/>

    <arg name="enable_rviz" default="true" />
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/decentralized_sloam_hercules.rviz" />
    </group>

    <rosparam file="$(find sloam)/params/sloam_hercules.yaml" command="load" />

    <!-- Set frame parameters from arguments -->
    <param name="/sloam/map_frame_id"   value="$(arg map_frame_id)"/>
    <param name="/sloam/odom_frame_id"  value="$(arg odom_frame_id)"/>
    <param name="/sloam/robot_frame_id" value="$(arg robot_frame_id)"/>

    <node pkg="sloam" type="sloam_node" name="sloam$(arg hostRobot_ID)" output="screen">
            <param name="hostRobotID" value="$(arg hostRobot_ID)" />
            <param name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
            <param name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
            <param name="save_results_dir" value="$(arg save_results_dir)"/>

            <!-- the TF here is from robot to world -->
            <param name="priorTFKnown" value="false"/>
            <param name="priorTF_x" value="0"/>
            <param name="priorTF_y" value="0"/>
            <param name="priorTF_z" value="0"/>

            <!-- Remappings... -->
            <remap from="/sloam/debug/map_ground_model" to="$(arg robot_name)/sloam/debug/map_ground_model"/>
            <remap from="/sloam/debug/obs_ground_model" to="$(arg robot_name)/sloam/debug/obs_ground_model"/>
            <remap from="/sloam/debug/obs_tree_models" to="$(arg robot_name)/sloam/debug/obs_tree_models"/>

            <remap from="/sloam$(arg hostRobot_ID)/robot0/trajectory" to="$(arg robot_name)/sloam/robot0/trajectory"/>
            <remap from="/sloam$(arg hostRobot_ID)/robot1/trajectory" to="$(arg robot_name)/sloam/robot1/trajectory"/> 

            <remap from="/sloam/place_recognition/matching_results" to="$(arg robot_name)/sloam/place_recognition/matching_results"/>
            <remap from="/sloam/map_pose" to="$(arg robot_name)/sloam/map_pose"/>

            <remap from="/sloam/submap_cylinder_models" to="$(arg robot_name)/sloam/submap_cylinder_models"/>

            <remap from="/robot$(arg hostRobot_ID)/sloam_odom_high_freq" to="$(arg robot_name)/sloam/sloam_odom_high_freq"/>
            <remap from="/robot$(arg hostRobot_ID)/sync_odom_high_freq" to="$(arg robot_name)/sloam/sync_odom_high_freq"/>
            <remap from="/robot$(arg hostRobot_ID)/sloam_to_vio_odom" to="$(arg robot_name)/sloam/sloam_to_vio_odom"/>
            <remap from="/robot$(arg hostRobot_ID)/pose_high_freq" to="$(arg robot_name)/sloam/pose_high_freq"/>

            <remap from="/sloam/cubes_map" to="$(arg robot_name)/sloam/cubes_map"/>
            <remap from="/sloam/cubes_submap" to="$(arg robot_name)/sloam/cubes_submap"/>
            <remap from="/sloam/cylinders_map" to="$(arg robot_name)/sloam/cylinders_map"/>
            <remap from="/sloam/observation" to="$(arg robot_name)/sloam/observation"/>
            <remap from="/sloam/optimized_point_landmarks" to="$(arg robot_name)/sloam/optimized_point_landmarks"/>

            <!-- Input Odometry and Synced Objects w/Odometry -->
            <remap from="/robot$(arg hostRobot_ID)/semantic_meas_sync_odom"  to="$(arg robot_name)/semantic_meas_sync_odom"/>
            <remap from="/sloam/odom"         to="$(arg odom_topic)"/>
    </node>

</launch>
