<launch>

    <arg name="odom_topic" default="/odom"/>
    <arg name="robot_name" default="robot0"/>
    <arg name="label_color_map_path" default="label_color_map.csv"/>
    <arg name="dataset_num" default="Missing"/>

    <node name="semantic_detector_from_sem_labels" pkg="object_modeller" type="detect_sem_via_gt_sem_labels.py" output="screen" ns="$(arg robot_name)">

        <param name="~desired_rate" value="2"/>
        <param name="~robot_name" value="$(arg robot_name)"/>
        <param name="~seg_topic" value="/$(arg robot_name)/cam0/seg"/>
        <param name="~label_color_map_path" value="$(arg label_color_map_path)"/>
        <param name="~cls_config_path" value="$(find object_modeller)/config/Hercules/$(arg dataset_num)/hercules_cls_config.yaml"/>
        <param name="~aligned_depth_topic" value="/$(arg robot_name)/cam0/depth"/>
        <param name="~odom_topic" value="$(arg odom_topic)"/>
        <param name="~sync_odom_measurements" value="true"/>
        <param name="~sync_pc_odom_topic" value="/$(arg robot_name)/sem_detection/sync_pc_odom"/>
        <param name="~pc_topic" value="/$(arg robot_name)/sem_detection/pointcloud"/>

        <!-- For HERCULES Dataset -->
        <param name="~fx" value="376" />
        <param name="~fy" value="376" />
        <param name="~cx" value="376" />
        <param name="~cy" value="240" />
        <param name="~k_depth_scaling_factor" value="1.0" />

    </node>

</launch>
