<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <include file="$(find ouster_decoder)/launch/driver.launch"></include>
    <include file="$(find ouster_decoder)/launch/decoder.launch">
        <arg name="replay" value="true" />
    </include> -->
    <!-- drivers -->

    <include file="$(find scan2shape_launch)/launch/drivers_for_faster_lio.launch">
        <arg name="robot" value="quadrotor" />
        <arg name="sensor_hostname" value="192.168.100.12" />
        <arg name="udp_dest" value="192.168.100.1" />
        <arg name="lidar_port" value="7502" />
        <arg name="imu_port" value="7503" />
        <arg name="replay" value="true" />
        <arg name="lidar_mode" value="1024x10" />
        <arg name="metadata" value="" />
    </include>

    <include file="$(find faster_lio)/launch/mapping_ouster64.launch"></include>

    <!-- <include file="$(find scan2shape_launch)/launch/llol_robot_ns.launch"></include> -->


</launch>
