<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- step 1 -->
    <!-- <node pkg="topic_tools" type="relay" name="odom_relay"
        args="/dragonfly67/quadrotor_ukf/control_odom /robot_0/vio_odom" />
    <node pkg="topic_tools" type="relay" name="semantic_meas_sync_odom_relay"
        args="/semantic_meas_sync_odom /robot_0/semantic_meas_sync_odom" /> -->
    <!-- step 2 -->
    <node pkg="topic_tools" type="relay" name="odom_relay"
        args="/robot_0/vio_odom /robot_1/vio_odom" />
    <node pkg="topic_tools" type="relay" name="semantic_meas_sync_odom_relay"
        args="/robot_0/semantic_meas_sync_odom /robot_1/semantic_meas_sync_odom" />
</launch>