<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="original_robot_ns" default="/robot_0" />
    <arg name="target_robot_ns" default="/robot_1" />

    <node pkg="topic_tools" type="relay" name="odom_relay"
        args="$(arg original_robot_ns)/sloam/cubes_map $(arg target_robot_ns)/sloam/cubes_map" />
    <node pkg="topic_tools" type="relay" name="cloud_relay"
        args="$(arg original_robot_ns)/sloam/submap_cylinder_models $(arg target_robot_ns)/sloam/submap_cylinder_models" />
    <node pkg="topic_tools" type="relay" name="cloud_relay2"
        args="/semantic_meas_sync_odom $(arg target_robot_ns)/semantic_meas_sync_odom" />
</launch>