<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="original_robot_ns" default="/quadrotor2" />
    <arg name="target_robot_ns" default="/quadrotor1" />

    <node pkg="topic_tools" type="relay" name="odom_relay"
        args="$(arg original_robot_ns)/lidar_odom $(arg target_robot_ns)/lidar_odom" />
    <node pkg="topic_tools" type="relay" name="cloud_relay"
        args="$(arg original_robot_ns)/ground_cloud $(arg target_robot_ns)/ground_cloud" />
    <node pkg="topic_tools" type="relay" name="cloud_relay2"
        args="$(arg original_robot_ns)/tree_cloud $(arg target_robot_ns)/tree_cloud" />
    <node pkg="topic_tools" type="relay" name="cube_relay2"
        args="$(arg original_robot_ns)/car_cuboids_body $(arg target_robot_ns)/car_cuboids_body" />
</launch>