<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find sloam)/launch/single_robot_sloam_test_outdoor.launch">
        <arg name="turn_off_intra_loop_closure" value="true"/>
    </include>
    <include file="$(find sloam)/launch/decentralized_sloam_scarab.launch">
        <arg name="hostRobot_ID" value="1" />
        <arg name="odom_topic" value="/scarab41/odom_laser" />
        <arg name="turn_off_intra_loop_closure" value="true"/>
    </include>

</launch>
