<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="enable_rviz" default="true" />
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/decentralized_sloam.rviz" />
    </group>

    <!-- robot_ns_prefix and number_of_robots is specified in sloam.yaml -->
    <!-- <rosparam file="$(find sloam)/params/sloam.yaml" command="load" /> -->
    <arg name="turn_off_intra_loop_closure" default="true"/>
    <arg name="turn_off_inter_loop_closure" default="false"/>
    

    <!-- include launch file for robot 0 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="-1.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="-0.5"/>
        <arg name="hostRobot_ID" value="0" />
        <arg name="odom_topic" value= "/robot0/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>

    <!-- include launch file for robot 1 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="-1.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="-0.5"/>
        <arg name="hostRobot_ID" value="1" />
        <arg name="odom_topic" value= "/robot1/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>

    <!-- include launch file for robot 2 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="-1.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="-0.5"/>
        <arg name="hostRobot_ID" value="2" />
        <arg name="odom_topic" value= "/robot2/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>

    <!-- include launch file for robot 3 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="-1.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="-0.5"/>
        <arg name="hostRobot_ID" value="3" />
        <arg name="odom_topic" value= "/robot3/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>

    <!-- include launch file for robot 4 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="0.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="0.0"/>
        <arg name="hostRobot_ID" value="4" />
        <arg name="odom_topic" value= "/robot4/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>

    <!-- include launch file for robot 5 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="0.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="0.0"/>
        <arg name="hostRobot_ID" value="5" />
        <arg name="odom_topic" value= "/robot5/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>

    <!-- include launch file for robot 6 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="0.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="0.0"/>
        <arg name="hostRobot_ID" value="6" />
        <arg name="odom_topic" value= "/robot6/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>    

    <!-- include launch file for robot 7 -->
    <include file="$(find sloam)/launch/decentralized_sloam.launch">
        <arg name="turn_off_intra_loop_closure" value="$(arg turn_off_intra_loop_closure)"/>
        <arg name="turn_off_inter_loop_closure" value="$(arg turn_off_inter_loop_closure)"/>
        <!-- the TF here is from robot to world, which is the inverse of robot's position in the world frame -->
        <arg name="priorTFKnown" value="true"/>
        <arg name="priorTF_x" value="0.0"/>
        <arg name="priorTF_y" value="0.0"/>
        <arg name="priorTF_z" value="0.0"/>
        <arg name="hostRobot_ID" value="7" />
        <arg name="odom_topic" value= "/robot7/odom"/>
        <!-- semantic measurements will be under topic robot_ns_prefix+hostRobotID/semantic_meas_sync_odom -->
    </include>
    
</launch>
