<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="odom_topic" default="/Odometry"/>
    <arg name="robot_name" default="robot0"/>
    <arg name="process_cloud_node_name" default="process_cloud_node"/>
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="process_cloud_node_name" value="$(arg process_cloud_node_name)"/>
      <node pkg="scan2shape_launch" type="process_cloud_node_outdoor.py" name="$(arg process_cloud_node_name)" output="screen" launch-prefix="taskset -c 0-3" ns="$(arg robot_name)">
          <remap from="/Odometry" to="$(arg odom_topic)"/>
          <rosparam command="load" file="$(find scan2shape_launch)/config/process_cloud_node_outdoor_params.yaml"/>
      </node>
</launch>
