<launch>
  <arg name="odom_topic" default="/dragonfly67/quadrotor_ukf/control_odom"/>
    <arg name="robot_name" default=""/>

    <node pkg="scan2shape_launch" type="process_cloud_node.py" name="process_cloud_node" output="screen" launch-prefix="taskset -c 0" ns="$(arg robot_name)">
        <remap from="/odom" to="$(arg odom_topic)"/>
        <!-- <rosparam command="load" file="$(find scan2shape_launch)/config/process_cloud_node_real_robot.yaml"/> -->
        <rosparam command="load" file="$(find scan2shape_launch)/config/process_cloud_node_real_robot_full_mission.yaml"/>
        <!-- <rosparam command="load" file="$(find scan2shape_launch)/config/process_cloud_node_real_robot_full_mission_loop_closure.yaml"/> -->
    </node>
</launch>