<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam file="$(find sloam)/params/sloam_active_slam_real_robot.yaml" command="load" />
    <node pkg="sloam" type="sloam_active_slam_input_node" name="active_slam_input_node"
        output="screen"></node>
    <arg name="enable_rviz" default="true" />
    <group if="$(arg enable_rviz)">
        <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen"
            args="-d $(find sloam)/launch/rviz/sloam_active_slam.rviz" />
    </group>
</launch>